.details-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: black; /* pełne czarne tło na życzenie */
}

.details-box {
  background: #111;
  padding: 40px;
  border-radius: 16px;
  color: white;
  text-align: center;
  width: 450px;
  border: 1px solid #222;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.25);
}

.details-img {
  width: 250px;
  height: 140px;
  object-fit: contain;
  margin-bottom: 20px;
}

.back-btn {
  display: inline-block;
  margin-bottom: 20px;
  color: red;
  font-size: 20px;
  text-decoration: none;
  transition: 0.25s;
  font-weight: 600;
}

.back-btn:hover {
  transform: translateX(-7px);
  color: rgb(255, 70, 70);
}

.wiki-link {
  color: red;
  text-decoration: none;
  transition: 0.25s ease-in-out;
  font-weight: 600;
}

.wiki-link:hover {
  color: rgb(255, 130, 130);
  transform: scale(1.12);
}

p {
  margin: 10px 0;
  font-size: 18px;
}
