.home-container {
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.home-title {
  font-size: 46px;
  margin-bottom: 40px;
  background: #000000d0;
  padding: 20px 40px;
  border-radius: 12px;
  text-align: center;
}

.home-btn {
  font-size: 22px;
  padding: 16px 32px;
  background: red;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.home-btn:hover {
  background: rgb(200, 0, 0);
  transform: scale(1.05);
}